<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          <li>
            <a href="https://github.com/charlieko" title="Github" target="_blank">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">Github</span>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/charlesthedark/" title="Instagram" target="_blank">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">Instagram</span>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/channel/UCTgEj8pS3AkuceGFrjHN9JA" title="YouTube" target="_blank">
              <span class="fa-stack fa-lg" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
              </span>
              <span class="sr-only">YouTube</span>
            </a>
          </li>
          
        </ul>

        <p class="copyright text-muted">
          {{ site.time | date: '%Y' }} &copy; Charles Ko 
        </p>
      </div>
    </div>
  </div>

  <!-- SCRIPT -->
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
  <script src="{{ base.url | prepend: site.url }}/js/main.js"></script>
</footer>
