<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>{{site.title}}</title>

  <meta name="author" content="{{ site.author.name }}" />
  <meta name="description" content="{{ page.subtitle }}" />

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Condensed:400,400i,700" rel="stylesheet" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="css/main.css" />
</head>