---
layout: base
---

<div class="container mt-30" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 mb-50">

      <div class="mb-50">
      <h2>Charles Ko<span class="cursor">_</span></h2>
      <p>charlesthedark(shift+2)gmail(dot)com</p>
      </div>

      <h4 class="mb-30 mt-30">Objective</h4>
      <p>Seeking a software engineering role at Twitch - Rewards &amp; Loyalty division where my 7+ years of fullstack web development can be utilized and furthered.</p>

      <h4 class="mb-30 mt-30">Skill Overview</h4>
      <ul>
        <li>Currently using:
          <ul>
            <li>Go, JavaScript, Typescript</li>
            <li>Protobuf, React</li>
            <li>Lots of AWS</li>
          </ul>
        </li>
        <li>Have used:
          <ul>
            <li>Java, C#, Python, Ruby, Kotlin</li>
            <li>Ruby on Rails, Node.js Android</li>
            <li>Cassandra, MySQL, PostgreSQL, MongDB</li>
            <li>Heroku</li>
          </ul>
        </li>
      </ul>


      <h4 class="mb-30 mt-30">Professional Experience</h4>

      <p><em>
        <a href="https://twitch.tv/" target="_blank">Twitch</a> – Senior Software Engineer -&nbsp; (03/2018 – present)
      </em></p>
      <ul>
        <li>Fullstack engineer for Twitch Commerce</li>
        <li>Designs and builds highly scalable and highly available Go services in distributed systems architecture</li>
        <li>Maintains and develops new customer facing UIs</li>
      </ul>

      <p><em>
        <a href="http://welltok.com/" target="_blank">Welltok</a> – Senior Software Engineer -&nbsp; (03/2014 – 03/2018)
      </em></p>
      <ul>
        <li>Maintains and develops application servers and micro-services using Ruby on Rails and Node.js backed with MySQL and PostgreSQL (hosted on AWS as RDS instances)</li>
        <li>Maintains and adds news features for front-end web applications using React and Redux frameworks</li>
        <li>Develops mobile applications for iOS and Android (Swift, Java, and Kotlin)</li>
        <li>Core Product: <a href="https://www.cafewell.com" target="_blank">CafeWell</a></li>
      </ul>

      <p><em>
        Lively – Developer –&nbsp; (07/2013 – 02/2014)
      </em></p>
      <ul>
        <li>Primarily a server side engineer handling server application logic and database (Python and PostgreSQL)</li>
        <li>Responsible for the Windows Phone 8 mobile application – C#</li>
        <li>Contributed development work towards the HTML5 application (using custom framework)</li>
        <li>(Now acquired by <a href="http://www.vnue.com/" target="_blank">VNUE</a>)</li>
      </ul>

      <p><em>
        RoomWarden – Developer –&nbsp; (08/2012 – 02/2013)
      </em></p>
      <ul>
        <li>Part time project start up consisted of 4 team members – dissolved with crushed hope as of now.</li>
        <li>Created a working prototype with Django</li>
        <li>Created a working beta stage app with node.js and mongodb for backend, iOS/Android apps for consumers, and web admin tool for provisioning</li>
      </ul>

      <p><em>
        Mindbloom – Software Development Engineer –&nbsp; (02/2010 – 03/2014)
      </em></p>
      <ul>
        <li>Full stack application developer working with – Python, PostgreSQL, AWS, Titanium Appecelerator, Objective C/iOS SDK, Java/Android SDK, C#/WP8 SDK, HTML5/CSS3/Javascript, jQuery, Raphael (SVG magic)</li>
        <li>Projects worked on:
          <ul>
          <li><a href="http://www.mindbloom.com/lifegame" target="_blank">LifeGame</a></li>
          <li><a href="http://www.mindbloom.com/juice" target="_blank">Juice</a></li>
          <li><a href="http://www.mindbloom.com/proof" target="_blank">Proof</a></li>
          <li><a href="http://www.mindbloom.com/momentum" target="_blank">Momentum</a></li>
          </ul>
        </li>
        <li>Acquired by my present employer – <a href="http://welltok.com/" target="_blank">Welltok</a></li>
      </ul>


      <h4 class="mb-30 mt-50">Education</h4>

      <ul>
        <li>University of Washington – B.S. in Informatics with minor in Physics. Cum Laude.</li>
        <li>University of Washington – M.S. Physics – Artificial Neural Networks | Quantum Boltzmann Machine</li>
      </ul>

      <h4 class="mb-30 mt-30">Others</h4>

      <ul>
        <li>Amateur music composer / producer / guitarist</li>
        <li>Deep interest in natural science especially physics</li>
      </ul>
    </div>
  </div>
</div>